/* arrow-form */
/* frame */

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #1c222d;
}

::selection {
    background-color: #fff;
    color: #1c222d;
}

.header {
    width: fit-content;
    height: fit-content;
    background-color: #111824;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 25px 30px;
    border: 1px solid #4A87FF;
}

.headerButton {
    width: fit-content;
    height: fit-content;
    padding: 0px 25px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerButton:hover {
    cursor: pointer;
}

.headerButton>img {
    height: 20px;
    margin-right: 15px;
}

.headerButton>div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    color: #fff;
}

.headerButton>div>h3 {
    width: fit-content;
}

.headerButton>div>p {
    margin-top: 5px;
    opacity: 50%;
}

.dot {
    background-color: #285d3c;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
}

.workplace {
    position: absolute;
    overflow: auto;
    background-color: #1c222d;
    z-index: -101;
}

.frame {
    position: absolute;
    border-radius: 5px;
    border: 0.3px solid;
    background-color: #111824;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.selected {
    box-shadow: 0 0 5px 1px #4A87FF;
    z-index: 100;
}

.add-button {
    width: 75px;
    height: 35px;
    margin: auto;
    display: block;
    margin-top: 15px;
    border: 2px #1c222d solid;
    border-radius: 75px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #1c222d;
    border: 1px #4A87FF solid;

}

.add-button:active {
    background-color: #4A87FF;
    color: #111824;
}

.formInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.formInput::placeholder {
    color: #fff;
}

.autocomplete {
    background-color: transparent;
    display: flex;
    position: relative;
}

.autocomplete-items {
    position: absolute;
    z-index: 250;
    top: 100%;
    left: 11%;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    color: #fff;
}

.autocomplete-items::-webkit-scrollbar {
    width: 10px;
}

.autocomplete-items::-webkit-scrollbar-track {
    background: #111824;
}

.autocomplete-items::-webkit-scrollbar-thumb {
    background: #3b4860;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #1c222d;
}

.autocomplete-items div:hover {
    background-color: #3b4860;
}

body::-webkit-scrollbar {
    display: none;
}

.grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.point {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.key-value-pair-form {
    display: flex;
    justify-content: space-between;
    max-width: 94%;
    background-color: #1c222d;
    margin: 1%;
}

.key-value-pair-form>.autocomplete {
    margin: 3% 2%;
}

.key-value-pair-form>.options {
    max-width: 10%;
    min-width: 10%;
    min-height: 100%;
    max-height: 100%;
    background-color: #111824;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    position: relative;
}

.key-value-pair-input {
    width: 50%;
}

.arrow {
    z-index: 150;
    position: absolute;
    background-color: #fff;
}

.resize {
    height: 15px;
    margin-right: 25px;
    transition: transform ease-in-out 0.2s;
}

.resize:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.cross {
    height: 15px;
    transition: transform ease-in-out 0.2s;
}

.cross:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.arrow-form {
    border: 1px solid #3b4860;
    border-radius: 100px;
    width: 75px;
    height: 20px;
    position: absolute;
    background-color: #111824;
    z-index: 150;
    padding: 10px 10px;
    transform: translateY(-10px);
}

.arrow-form:hover {
    border: 1px solid #4A87FF;
}

.template-context-menu {
    position: absolute;
}

.template-context-menu {
    position: absolute;
    z-index: 250;
    max-height: 200px;
    overflow-y: auto;
    color: #fff;
}

.template-context-menu::-webkit-scrollbar {
    width: 10px;
}

.template-context-menu::-webkit-scrollbar-track {
    background: #111824;
}

.template-context-menu::-webkit-scrollbar-thumb {
    background: #3b4860;
}

.template-context-menu div {
    padding: 10px;
    cursor: pointer;
    background-color: #111824;
}

.template-context-menu div:hover {
    background-color: #3b4860;
}

.frame>textarea {
    background-color: #3b4860;
    border: 1px solid #4A87FF;
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-radius: 5px;
    color: #fff;
    resize: none;
    overflow: auto;
    padding: 10px;
}

@keyframes growUp {
    from {
        display: block;
        transform: scale(0);
        transform-origin: center;
    }

    to {
        transform: scale(1);
        transform-origin: center;
    }
}

@keyframes growDown {
    from {
        transform: scale(1);
        transform-origin: center;
    }

    to {
        transform: scale(0);
        transform-origin: center;
        display: none;
    }
}

.textarea-grow-up {
    animation: growUp 0.3s forwards;
}

.textarea-grow-down {
    animation: growDown 0.3s forwards;
}

.textarea-display-none {
    display: none;
}