* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background-color: #fff;
    color: #1c222d;
}

.header {
    width: 20vw;
    height: 10vh;
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.headerButton {
    width: 8vh;
    height: 8vh;
}

.dot {
    background-color: #285d3c;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
}

.workplace {
    position: absolute;
    overflow: auto;
    background-color: #1c222d;
    z-index: -101;
}

.frame {
    position: absolute;
    border-radius: 5px;
    border: 0.3px solid;
    border-color: #fff;
    background-color: #111824;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.frame:not(.selected):hover {
    /* border: 3px solid #ffe600; */
    z-index: 2;
}

.selected {
    /* border: 2px solid blue; */
    z-index: 3;
}

.add-button {
    width: 50px;
    height: 25px;
    border-radius: 0px;
    opacity: 50%;
    margin: auto;
    display: block;
    margin-top: 15px;
    border: none;
}

.formInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.formInput::placeholder {
    color: #fff;
}

.autocomplete {
    background-color: transparent;
    display: flex;
    position: relative;
}

.autocomplete-items {
    position: absolute;
    z-index: 250;
    top: 100%;
    left: 11%;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    color: #fff;
}

.autocomplete-items::-webkit-scrollbar {
    width: 10px;
}

.autocomplete-items::-webkit-scrollbar-track {
    background: #111824;
}

.autocomplete-items::-webkit-scrollbar-thumb {
    background: #3b4860;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #1c222d;
}

.autocomplete-items div:hover {
    background-color: #3b4860;
}

body::-webkit-scrollbar {
    display: none;
}

.grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.point {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.key-value-pair-form {
    display: flex;
    justify-content: space-between;
    max-width: 94%;
    background-color: #1c222d;
    margin: 1%;
}

.key-value-pair-form>.autocomplete {
    margin: 3% 2%;
}

.key-value-pair-form>.options {
    max-width: 10%;
    min-width: 10%;
    min-height: 100%;
    max-height: 100%;
    background-color: #111824;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.key-value-pair-input {
    width: 50%;
}

.arrow {
    z-index: 150;
    position: absolute;
    background-color: #fff;
}